/* Credits to */

*{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
    font-family: "Kumbh sans", sans-serif;
}

/* navigation bar settings*/
.navbar
{
    background: whitesmoke; /* lightslategray or whitesmoke*/
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;


}

/*CloakNet logo*/
#navbar__logo
{
    font-size: 30px;
    font-weight: bold;
    color: #DC143C;
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* logo settings*/
.fa-lock
{
    margin-right: 0.5rem;
    color: red;
}

.fa-user-shield
{
    margin-right: 0.5rem;
    color: #DC143C;
}

.navbar__menu
{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

/* move text to bottom of page*/
.navbar__below
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* navrigation bar title settings ex Home | Why us */
.navbar__links
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    
}

.navbar__links:hover
{
    background: #DCDCDC;
    transition: all 0.2s ease;
}


/**/
.upload_file_btn button
{
    background-color: #DC143C;  /* Blue background for the buttons */
    color: white;               /* White text */
    padding: 8px 14px;         /* Increased space around the text */
    border: 2px solid #DC143C; /**/
    border-radius: 25px;         /* rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    font-size: 16px;            /* Larger font size */
    margin: 5px;  
}

.password_btn button
{
    background-color: #DC143C;  /* Blue background for the buttons */
    color: white;               /* White text */
    padding: 8px 14px;         /* Increased space around the text */
    border: 2px solid #DC143C; /**/
    border-radius: 25px;         /* rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    font-size: 16px;            /* Larger font size */
    margin: 5px;  
}


label
{
    font-size: 18px;            /* Larger font size */
    color: black;                /* Dark gray color for text */
    font-weight: bold;          /* Make the text bold */
    margin-bottom: 8px;         /* Add some space below the label */
    text-align: left;           /* Align the label text to the left */
    padding: 10px 0;             /* Add vertical padding for spacing */
    font-family: 'Arial', sans-serif;  /* Set the font family */
}

/*center the upload file and password form goto: store_file.html*/
form
{
    padding: 50px;              /* Padding inside the form */
    border-radius: 3px;         /* Rounded corners */
    max-width: 450px;           /* Maximum width of the form */
    width: 100%;                /* Make it responsive */
    text-align: middle;           /* Left-align text inside the form */
    margin: 0 auto;             /* Horizontally center the form */
    position: relative;         /* Make sure the form stays in the flow of the page */
    top: 90%;                   /* Position the form down from the top */
    
}

