/* Credits to */

*{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
    font-family: "Kumbh sans", sans-serif;
}

/* Delete?*/
.navbar_login
{
    background: red; /* lightslategray or whitesmoke*/
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* navigation bar settings*/
.navbar
{
    background: whitesmoke; /* lightslategray or whitesmoke*/
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/*Delete?*/
.login_container
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__container
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;


}

#login_logo
{
    font-size: 25px;
    font-weight: bold;
    color: #DC143C;
    text-align: center;
    margin: 35px 30px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 20px; /* Move the logo down */
}

/*CloakNet logo*/
#navbar__logo
{
    font-size: 30px;
    font-weight: bold;
    color: #DC143C;
    text-align: center;
    margin: 20px 0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* logo settings*/
.fa-lock
{
    margin-right: 0.5rem;
    color: red;
}

.fa-user-shield
{
    margin-right: 0.5rem;
    color: #DC143C;
}

.navbar__menu
{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

/* move text to bottom of page*/
/*.navbar_below*/

/* navrigation bar title settings ex Home | Why us */
.navbar__links
{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    
}

.navbar__links:hover
{
    
    color: #DC143C;
    transition: all 0.2s ease;
}


/*store_file.html*/
.upload_file_btn button
{
    background-color: #DC143C;  /* Blue background for the buttons */
    color: white;               /* White text */
    padding: 8px 14px;         /* Increased space around the text */
    border: 2px solid #DC143C; /**/
    border-radius: 25px;         /* rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    font-size: 16px;            /* Larger font size */
    margin: 5px;  
}

.password_btn button
{
    background-color: #DC143C;  /* Blue background for the buttons */
    color: white;               /* White text */
    padding: 8px 14px;         /* Increased space around the text */
    border: 2px solid #DC143C; /**/
    border-radius: 25px;         /* rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    font-size: 16px;            /* Larger font size */
    margin: 5px;  
}

.upload_file_btn button:hover
{
   
   background-color: red;
}

.password_btn button:hover
{
    background-color: red;
}

label
{
    font-size: 18px;            /* Larger font size */
    color: black;                /* Dark gray color for text */
    font-weight: bold;          /* Make the text bold */
    margin-bottom: 8px;         /* Add some space below the label */
    text-align: left;           /* Align the label text to the left */
    padding: 10px 0;             /* Add vertical padding for spacing */
    font-family: 'Arial', sans-serif;  /* Set the font family */
}

/*center the upload file and password form goto: store_file.html*/
form
{
    padding: 50px;              /* Padding inside the form */
    border-radius: 3px;         /* Rounded corners */
    max-width: 450px;           /* Maximum width of the form */
    width: 100%;                /* Make it responsive */
    text-align: middle;           /* Left-align text inside the form */
    margin: 0 auto;             /* Horizontally center the form */
    position: relative;         /* Make sure the form stays in the flow of the page */
    top: 90%;                   /* Position the form down from the top */
    
}



/*main.html*/
.msg
{
    
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.msg2
{
    
    font-size: 35px;
    
    font-family: 'Montserrat', sans-serif;
}

.msg3
{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.msg4
{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.msg5
{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.msg6
{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.msg7
{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

/*index.html*/
.welcome_msg
{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-color: white;
}

/*index.html*/
img
{
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#index_file
{
    background-color: lightgrey;
}

.text1
{
    color: black;
}

.text
{
    font-size: 20px;
    
}

#loginHelp
{
    font-weight: bold;
}

/*Button from main.html*/
#storeFile
{
    background-color: #DC143C;  /* background for the button */
    color: white;               /* White text */
    padding: 8px 14px;         /* Increased space around the text */
    border: 2px solid red; /**/
    border-radius: 25px;         /* rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    font-size: 16px;            /* Larger font size */
    margin: 5px;  
}

/**/
#storeFile:hover
{
    background: linear-gradient(45deg, #2196F3, #FF5722);
    
}

.footer
{
    display: flex;
    justify-content: space-around; /* Ensures even spacing between items */
    align-items: center; /* Aligns items vertically in the center */
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    background-color: lightslategray;
    z-index: 10;
    text-align: center;
    gap: 20px; /* Adds consistent spacing between items */
    
}

.footer a
{
    color: purple;
}

.footer a:hover
{
    color:blue;
}

.msg4
{
    font-family: 'Nunito', sans-serif;

}
